# At 04:00 on Sunday.
0 4 * * 7 /usr/local/bin/docker run --rm --privileged alpine hwclock -s

# At every 30 minutes.
*/30 * * * * /usr/bin/curl --silent -X PATCH localhost:8000/api/rankings/1 > /dev/null

# Every day
6 0 * * * shortcuts run "Grayscale Off" > /dev/null 2>&1
0 19 * * * shortcuts run "Grayscale On" > /dev/null 2>&1
