[core]
	excludesfile = ~/.gitignore_global
	# HACK: git 1.7.1 からは less -R で正常に動作する
	pager = LESS=-R less
[user]
	name = YOSHIDA Hiroki
	email = hyoshida@appirits.com
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	br = branch
	ba = branch -a
	ls = log --name-status
	ll = log --pretty=\"format:%ad %h (%an): %s\" --date=short
	ci = commit
	rb = rebase
	sh = show
