[core]
	excludesfile = ~/.gitignore_global
	# HACK: git 1.7.1 からは less -R で正常に動作する
	pager = LESS=-R less
	quotepath = false
[user]
	name = YOSHIDA Hiroki
	email = hyoshida@appirits.com
[alias]
	st = status -sb
	co = checkout
	cp = cherry-pick
	br = branch
	ba = branch -a
	lp = log -p
	ls = log --name-status
	ll = log --pretty=format:'%C(yellow)%h%C(reset) %C(white)%ad%C(reset) | %C(white)%s%C(reset) %C(red)[%an]%C(reset)%C(magenta)%d%C(reset)' --date=short
	la = log --format=format:'%C(yellow)%h%C(reset) - %C(blue)%ai%C(reset) %C(bold black)(%ar)%C(reset)%C(magenta)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit --graph --all
	ci = commit
	rb = rebase
	sh = show
	di = diff
	wl = log -p --word-diff
	cut = fetch --prune
	count = shortlog --numbered --summary
	cleanbr = !git fetch --prune && git branch --merged | grep -v \"*\" | grep -v master | xargs -n 1 git branch -d
	# 改行コードとインデントを無視して比較
	cmp = diff --ignore-all-space --ignore-space-change
	lc = log -p --ignore-all-space --ignore-space-change
	gr = "!f() { git grep --line-number "$@" | fzf; }; f"
	# colorized cheery -v
	# original: https://github.com/yuroyoro/dotfiles/commit/859732dc4814e863394e1f34b6f7eea8e9e47a23
	cch= "!f() { git cherry -v "$@" | awk '{ if($1 == \"+\"){ color = \"green\" } if($1 == \"-\"){ color = \"red\" } cmd = \"git show --date=short --no-notes --pretty=format:\\047%C\" color $1 \" %h %C(blue)%cd %C(white)%s - %C(bold white)%cn%x09%C(reset)\\047 --summary \" $2; cmd | getline t; close(cmd); print t }' ;}; f"
	# safed reset --hard HEAD
	# original: http://d.hatena.ne.jp/thinca/20120924/1348491052
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
	todo = !git diff master | grep $@ --color=always -i '^+.*TODO' | less
	# original: http://qiita.com/awakia/items/f14dc6310e469964a8f7
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1..master | grep 'Merge pull request #' | head -n 1; }; f"
	alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
[color]
	ui = auto
[color "branch"]
	current = 197
	local = white
	remote = 141
[color "diff"]
	meta = 241
	frag = 81
	old = 197
	new = 148
[color "status"]
	added = 148
	changed = 197
	untracked = 241
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[apply]
	whitespace = fix
[pager]
	log = diff-highlight | (nkf -w 2> /dev/null || cat) | less
	show = diff-highlight | (nkf -w 2> /dev/null || cat) | less
	diff = diff-highlight | (nkf -w 2> /dev/null || cat) | less
	branch = false
[diff]
	renames = copies
