[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".rbenv_plugins/ruby-build"]
	path = .rbenv_plugins/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".emacs.d/site-lisp/package"]
	path = .emacs.d/site-lisp/package
	url = https://github.com/technomancy/package.el.git
[submodule ".emacs.d/site-lisp/init-loader"]
	path = .emacs.d/site-lisp/init-loader
	url = https://github.com/emacs-jp/init-loader.git
