backups/*
!backups/.gitkeep
.vim/.netrwhist
.vim/bundle
!.vim/bundle/neobundle.vim
.emacs.d/elpa
.emacs.d/url
.moc/*
!.moc/config
!.moc/keymap
!.moc/themes/*
.cmus/*
!.cmus/rc
!.cmus/monokai.theme
.bin/git-flow*
.bin/gitflow*
tmp/*
