[core]
	excludesfile = ~/.gitignore_global
	# HACK: git 1.7.1 からは less -R で正常に動作する
	pager = LESS=-R less
[user]
	name = YOSHIDA Hiroki
	email = hyoshida@appirits.com
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	br = branch
	ba = branch -a
	lp = log -p
	ls = log --name-status
	ll = log --pretty=format:'%C(yellow)%h%C(reset) %C(white)%ad%C(reset) | %C(white)%s%C(reset) %C(red)[%an]%C(reset)%C(magenta)%d%C(reset)' --date=short
	la = log --format=format:'%C(yellow)%h%C(reset) - %C(blue)%ai%C(reset) %C(bold black)(%ar)%C(reset)%C(magenta)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit --graph --all
	ci = commit
	rb = rebase
	sh = show
	wd = diff --word-diff
	wl = log -p --word-diff
	cut = fetch --prune
	count = shortlog --numbered --summary
	cleanbr = !git branch --merged | grep -v \"*\" | grep -v master | xargs -n 1 git branch -d
[color]
	ui = auto
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[apply]
	whitespace = fix
